  <mat-toolbar>
    <span></span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <form [formGroup]="_accountForm" class="normal-form">
    <mat-grid-list cols="2" rowHeight="550px">
      <mat-grid-tile>
        <div class="controles-container">
          <!-- <input type="hidden" formControlName="$key"> -->
           <mat-form-field>
            <input formControlName="AccountGroupDetailId" matInput placeholder="Account GroupDetail Id">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="AccountGroupName" matInput placeholder="Account GroupName">
            <mat-error>Invalid email address.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="GroupUnder" matInput placeholder="Group Under">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="AffectGrossProfit" matInput placeholder="Affect Gross Profit">
          </mat-form-field>

          <mat-form-field>
            <input formControlName="ExtraDate" matInput placeholder="Extra Date">
          </mat-form-field>

          <mat-form-field>
            <input formControlName="Narration" matInput placeholder="Narration">
          </mat-form-field>

          <mat-form-field>
            <input formControlName="Nature" matInput placeholder="Nature">
          </mat-form-field>

          <mat-form-field>
            <input formControlName="Extra1" matInput placeholder="Extra1">
          </mat-form-field>

          <mat-form-field>
            <input formControlName="Extra2" matInput placeholder="Extra2">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">          
          <div class="button-row">
            <button mat-raised-button color="primary" (click)="onSubmit()" >Submit</button>
            <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>

  <!-- <h1 mat-dialog-title> <strong></strong></h1>
<div mat-dialog-content>
  <mat-form-field>
    <input formControlName="AddTaxesId" matInput placeholder="Add Taxes Id*">
    <mat-error>This field is mandatory.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input formControlName="TaxName" matInput placeholder="Tax Name">
    <mat-error>Invalid email address.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input formControlName="TaxValue" matInput placeholder="Tax Value*">
  </mat-form-field>
  <mat-form-field>
    <input formControlName="Status" matInput placeholder="Status">
  </mat-form-field>
  <ng-template #elseTemplate>
    Sure to delete <b></b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <div class="button-row">
    <button mat-raised-button color="primary" >Submit</button>
    <button mat-raised-button color="warn">Clear</button>
  </div>
</div> -->