<div class="search-div">
  <button mat-mini-fab (click)="test()">
      <mat-icon>add</mat-icon>
    </button>
  <!-- <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput  placeholder="Search" autocomplete="off" (keyup)="applyFilter($event.target.value)">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->
</div>
<mat-card-content>
  <div class="mat-elevation-z8">
    <table class="table">
      <thead>
        <th>Employees ID</th>
        <th>Employees Name</th>
        <th>Designation</th>
        <th>Mobile No </th>


        <!-- <th>Delete</th> -->
      </thead>
      <tr *ngFor="let employee of employeeList">
        <td>{{employee.EmployeesId}}</td>
        <td>{{employee.EmployeesName}}</td>
        <td>{{employee.Designation}}</td>
        <td>{{employee.MobileNo}}</td>
        <!-- <td>
            <button mat-icon-button color="accent"(click)="editAccountDetail(account.Id)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="deleteAccountDetail(account.Id)"><mat-icon>delete_outline</mat-icon></button>
        </td> -->
     </tr>
     </table>
    </div>
</mat-card-content>
