<div class="search-div">
  <button mat-mini-fab (click)="test()">
      <mat-icon>add</mat-icon>
    </button>
  <!-- <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput  placeholder="Search" autocomplete="off" (keyup)="applyFilter($event.target.value)">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->
</div>
<mat-card-content>
  <div class="mat-elevation-z8">
    <table class="table">
      <thead>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Location</th>
        <th>Product Warehouse</th>

        <!-- <th>Delete</th> -->
      </thead>
      <tr *ngFor="let product of productList">
        <td>{{product.ProductID}}</td>
        <td>{{product.ProductName}}</td>
        <td>{{product.Location}}</td>
        <td>{{product.ProductWarehouse}}</td>
        <!-- <td>
            <button mat-icon-button color="accent"(click)="editAccountDetail(account.Id)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="deleteAccountDetail(account.Id)"><mat-icon>delete_outline</mat-icon></button>
        </td> -->
     </tr>
     </table>
    </div>
</mat-card-content>

