<mat-toolbar color ="primary" class="navbar">
    <div>Accounting
        <a  routerLink="app-dashboard" routerLinkActive="active"></a>
    </div>
    <div>
     <span >Login</span>
     <span></span>

    </div>
 </mat-toolbar>

 