<div class="search-div">
    <button mat-mini-fab (click)="addAccountDetail()">
        <mat-icon>add</mat-icon>
      </button>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput  placeholder="Search" autocomplete="off" (keyup)="applyFilter($event.target.value)">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table class="table">
        <thead>
          <th>Account Group Detail Id</th>
          <th>Account Group Name</th>
          <th>Group Under</th>
          <th>Affect Gross Profit</th>
          <th>Narration</th>
          <th>Nature</th>
          <th>Extra1</th>
          <th>Extra2</th>
          <th>Edit/Delete</th>
          <!-- <th>Delete</th> -->
        </thead>
        <tr *ngFor="let account of addAccountDetailList">
          <td>{{account.AccountGroupDetailId}}</td>
          <td>{{account.AccountGroupName}}</td>
          <td>{{account.GroupUnder}}</td>
          <td>{{account.AffectGrossProfit}}</td>
          <td>{{account.Narration}}</td>
          <td>{{account.Nature}}</td>
          <td>{{account.Extra1}}</td>
          <td>{{account.Extra2}}</td>
          <td>
              <button mat-icon-button color="accent"(click)="editAccountDetail(account.Id)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button color="warn" (click)="deleteAccountDetail(account.Id)"><mat-icon>delete_outline</mat-icon></button>
          </td>
       </tr>
       </table>
      </div>
  </mat-card-content>