.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height:50px;
    width:50px;
    padding-right: 4px 12px;
    font-size: 10px;
    margin: 10px;
  }
  
  .button:hover {
    background-color: #4cafad; /* Green */
    color: white;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box div {
    width: 50px;
    height: 50px;
  }
       