<div class="box">
    <button class="button" mat-raised-button  routerLink="app-add-tax-list" routerLinkActive="active">
    <mat-icon>note_add</mat-icon>Add Tax
    </button>

    <button  class="button" mat-raised-button  routerLink="app-account-group-detail-list" routerLinkActive="active">
    <mat-icon>note_add</mat-icon>Add Account
    </button>

    <button  class="button" mat-raised-button  routerLink="app-customers-list" routerLinkActive="active">
    <mat-icon>note_add</mat-icon>Customers
    </button>

    <button  class="button" mat-raised-button  routerLink="app-employees-list" routerLinkActive="active">
    <mat-icon>note_add</mat-icon>Employees
    </button>

    <button  class="button" mat-raised-button  routerLink="app-product-list" routerLinkActive="active">
    <mat-icon>note_add</mat-icon>Products
    </button>
</div>
<div class="box">
    <button class="button" mat-raised-button  routerLink="app-add-tax-list" routerLinkActive="active">
    <mat-icon>note_add</mat-icon>Add Tax
    </button>

    <button  class="button" mat-raised-button  routerLink="app-account-group-detail-list" routerLinkActive="active">
    <mat-icon>note_add</mat-icon>Add Account
    </button>

    <button  class="button" mat-raised-button  routerLink="app-account-group-detail-list" routerLinkActive="active">
    <mat-icon>note_add</mat-icon>Add Account
    </button>

    <button  class="button" mat-raised-button  routerLink="app-account-group-detail-list" routerLinkActive="active">
    <mat-icon>note_add</mat-icon>Add Account
    </button>

    <button  class="button" mat-raised-button  routerLink="app-account-group-detail-list" routerLinkActive="active">
    <mat-icon>note_add</mat-icon>Add Account
    </button>
</div>

<div class="box">
    <button class="button" mat-raised-button  routerLink="app-add-tax-list" routerLinkActive="active">
        <mat-icon>note_add</mat-icon>
    </button>
    <button  class="button" mat-raised-button  routerLink="app-account-group-detail-list" routerLinkActive="active">
    <mat-icon>note_add</mat-icon>Add Account
    </button>

    <button  class="button" mat-raised-button  routerLink="app-account-group-detail-list" routerLinkActive="active">
    <mat-icon>note_add</mat-icon>Add Account
    </button>

    <button  class="button" mat-raised-button  routerLink="app-account-group-detail-list" routerLinkActive="active">
    <mat-icon>note_add</mat-icon>Add Account
    </button>

    <button  class="button" mat-raised-button  routerLink="app-account-group-detail-list" routerLinkActive="active">
    <mat-icon>note_add</mat-icon>Add Account
    </button>
</div>



<!-- <router-outlet></router-outlet> -->
