<div class="search-div">
    <button mat-mini-fab  (click)="addAddTax()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput  placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource"  matSort>
      <ng-container matColumnDef="addtaxid">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Add Taxes Id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.AddTaxesId}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="taxname">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Tax Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.TaxName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="taxvalue">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tax Value</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.TaxValue}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Status}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="editAddTax(row.id)"><mat-icon>launch</mat-icon></button>
          <button mat-icon-button color="warn" (click)="deleteAddTax(row.id)"><mat-icon>delete_outline</mat-icon></button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']"[ngClass]="{'hide':dataSource!=null}" ></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
  